.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0px 20px;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 10px;
  font-size: 24px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.filter-btn {
  cursor: pointer;
  margin-left: 10px;
}

.shimmer-container {
  display: flex;
}
.shimmer-card {
  width: 200px;
  height: 300px;
  background-color: gray;
  margin: 10px;
}

.filter {
  display: flex;
  padding: 10px;
}
